.brand{
    color: rgb(248, 110, 29) !important;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 30px;
}

.nav-cart{
    width: 100%;
    display: flex;
    justify-content: end;
}

.btn-gral{
    border-radius: 0.7rem;
    background-color: rgb(248, 110, 29);
    border: 1px solid black;
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem;

}
.card-info{
    color: black;
    font-weight: 600;
}