{% extends 'base.html' %} {% block title %}
<title>Nosotros</title>
{% endblock %} {% block contenedor %}
<div class="mx-auto border-bottom py-4 text-center" style="width: 500px">
  <h1>Nuestra empresa</h1>
</div>

<p class="mx-auto border border-dark p-4 text-center" style="width: 500px">
  Empresa especializada en la venta de productos para pacientes con Alzheimer.
  Nuestro equipo de especialistas estará siempre disponible para asesorarlo en
  la adquisición del producto que se adapte a las necesidades del adulto mayor, 
  logrando que pueda transitar está enfermedad de la mejor manera posible.
  Contamos con una amplia gama de productos, como rompecabezas, alarmas,
  rastreadores gps, peluches y mucho más.
</p>
<div class="mx-auto text-center" style="width: 500px">
  <a href="/Products/list-products">
    <button class="btn btn-gral">Ver los productos</button>
  </a>
</div>
{% endblock %}
