{% extends 'base.html' %} {% block title %}
<title>Listado de productos</title>
{% endblock %} {% block contenedor %}
<div class="mx-auto border-bottom py-4 text-center" style="width: 500px">
  <h1>Listado de productos</h1>
</div>

<form class="form-inline my-2 my-lg-0" action="" method="GET">
  <input
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
    name="search"
  />
  <button class="btn btn-gral my-2 my-sm-0" type="submit">Search</button>
</form>

{% for product in list_of_products %}
<div class="card" style="width: 30%; float: left; margin: 20px; margin-top: 5%">
  <img src="..." class="card-img-top" alt="Not image yet" />
  <div class="card-body">
    <p class="card-text">
      <span class="font-weight-bold">Nombre:</span> {{product.name}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Precio:</span> {{product.price}}
    </p>
    <p class="card-text">
      <span class="font-weight-bold">Categoria:</span> {{product.category}}
    </p>

    {% if product.stock %}

    <p class="card-text">Hay stock</p>
    {% else %}
    <p class="card-text">No hay stock</p>
    {% endif %}
  </div>
</div>
{% endfor %}

<div class="btn-container">
  <a href="/Products/create-product/">
    <button class="btn-gral">Crear un nuevo producto</button>
  </a>
</div>
{% endblock %}
